<p>Здравствуйте, {{ name }},</p>
<p>Перейдите по ссылке, чтобы зарегистрироваться</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>Если вы не запрашивали это электронное письмо, вы можете спокойно проигнорировать его.</p>
